In [220]:
import pandas as pd
import numpy as np

In [221]:
df1 = pd.read_csv("csv_result-chronic_kidney_disease_full.csv")
df1.head()

,id,'age','bp','sg','al','su','rbc','pc','pcc','ba',...,'pcv','wbcc','rbcc','htn','dm','cad','appet','pe','ane','class'
0,1,48,80,1.020,1,0,?,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,2,7,50,1.020,4,0,?,normal,notpresent,notpresent,...,38,6000,?,no,no,no,good,no,no,ckd
2,3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,4,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,5,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [222]:
df = df1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       400 non-null    int64
 1   'age'    400 non-null    object
 2   'bp'     400 non-null    object
 3   'sg'     400 non-null    object
 4   'al'     400 non-null    object
 5   'su'     400 non-null    object
 6   'rbc'    400 non-null    object
 7   'pc'     400 non-null    object
 8   'pcc'    400 non-null    object
 9   'ba'     400 non-null    object
 10  'bgr'    400 non-null    object
 11  'bu'     400 non-null    object
 12  'sc'     400 non-null    object
 13  'sod'    400 non-null    object
 14  'pot'    400 non-null    object
 15  'hemo'   400 non-null    object
 16  'pcv'    400 non-null    object
 17  'wbcc'   400 non-null    object
 18  'rbcc'   400 non-null    object
 19  'htn'    400 non-null    object
 20  'dm'     400 non-null    object
 21  'cad'    400 non-null    object
 22  'appet'  400 non-null    object
 23  'pe'     400 non-null    object
 24  'ane'    400 non-null    object
 25  'class'  400 non-null    object
dtypes: int64(1), object(25)
memory usage: 81.4+ KB

In [223]:
df1= df1.rename(columns = lambda x:x.strip("'"))
df1

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48,80,1.020,1,0,?,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,2,7,50,1.020,4,0,?,normal,notpresent,notpresent,...,38,6000,?,no,no,no,good,no,no,ckd
2,3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,4,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,5,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55,80,1.020,0,0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,397,42,70,1.025,0,0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,398,12,80,1.020,0,0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,399,17,60,1.025,0,0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,400,58,80,1.025,0,0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [224]:
df1.replace('?', np.nan, inplace=True)
df1

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48,80,1.020,1,0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,2,7,50,1.020,4,0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,4,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,5,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55,80,1.020,0,0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,397,42,70,1.025,0,0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,398,12,80,1.020,0,0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,399,17,60,1.025,0,0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,400,58,80,1.025,0,0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [225]:
missing_pct = df1.isna().sum(axis=1) / df1.shape[1]
df1 = df1[missing_pct <= 0.30]
df1

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48,80,1.020,1,0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,2,7,50,1.020,4,0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,4,48,70,1.005,4,0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,5,51,80,1.010,2,0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55,80,1.020,0,0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,397,42,70,1.025,0,0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,398,12,80,1.020,0,0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,399,17,60,1.025,0,0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,400,58,80,1.025,0,0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [226]:
df1.replace(np.nan,-1,inplace=True)

/var/folders/_m/bxqt90pd1vvfzd4y2lzs02ym0000gn/T/ipykernel_66713/896978043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace(np.nan,-1,inplace=True)

In [227]:
df1 = df1.astype({
    'id': 'int64',
    'age': 'int64',
    'bp': 'int64',
    'sg': 'float64',
    'al': 'int64',
    'su': 'int64',
    'rbc': 'category',
    'pc': 'category',
    'pcc': 'category',
    'ba': 'category',
    'bgr': 'float64',
    'bu': 'float64',
    'sc': 'float64',
    'sod': 'float64',
    'pot': 'float64',
    'hemo': 'float64',
    'pcv': 'int64',
    'wbcc': 'int64',
    'rbcc': 'float64',
    'htn': 'category',
    'dm': 'category',
    'cad': 'category',
    'appet': 'category',
    'pe': 'category',
    'ane': 'category',
    'class': 'category',
 
})

In [228]:
fdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369 entries, 0 to 399
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      369 non-null    int64
 1   age     369 non-null    float64
 2   bp      369 non-null    float64
 3   sg      369 non-null    float64
 4   al      369 non-null    float64
 5   su      369 non-null    float64
 6   rbc     369 non-null    category
 7   pc      369 non-null    category
 8   pcc     369 non-null    category
 9   ba      369 non-null    category
 10  bgr     369 non-null    float64
 11  bu      369 non-null    float64
 12  sc      369 non-null    float64
 13  sod     369 non-null    float64
 14  pot     369 non-null    float64
 15  hemo    369 non-null    float64
 16  pcv     369 non-null    float64
 17  wbcc    369 non-null    float64
 18  rbcc    369 non-null    float64
 19  htn     369 non-null    category
 20  dm      369 non-null    category
 21  cad     369 non-null    category
 22  appet   368 non-null    category
 23  pe      368 non-null    category
 24  ane     368 non-null    category
 25  class   369 non-null    category
dtypes: category(11), float64(14), int64(1)
memory usage: 51.2 KB

In [229]:
df1.replace(-1,np.nan,inplace=True)

In [230]:
fdf =df1

In [231]:
fdf.replace("no",False,inplace = True)
fdf.replace("yes",True,inplace = True)
fdf.replace("ckd",True,inplace = True)
fdf.replace("notckd",False,inplace = True)
fdf.replace(True,1,inplace = True)
fdf.replace(False,0,inplace = True)
fdf.replace('good',1,inplace = True)
fdf.replace('poor',0,inplace = True)
fdf.replace('notpresent',0,inplace = True)
fdf.replace('present',1,inplace = True)
fdf.replace('normal',1,inplace = True)
fdf.replace('abnormal',0,inplace = True)
fdf.replace(-1,np.nan,inplace=True)
fdf

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020,1.0,0.0,NaN,1,0,0,...,44.0,7800.0,5.2,True,True,False,1,False,False,True
1,2,7.0,50.0,1.020,4.0,0.0,NaN,1,0,0,...,38.0,6000.0,NaN,False,False,False,1,False,False,True
2,3,62.0,80.0,1.010,2.0,3.0,1,1,0,0,...,31.0,7500.0,NaN,False,True,False,0,False,True,True
3,4,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,32.0,6700.0,3.9,True,False,False,0,True,True,True
4,5,51.0,80.0,1.010,2.0,0.0,1,1,0,0,...,35.0,7300.0,4.6,False,False,False,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55.0,80.0,1.020,0.0,0.0,1,1,0,0,...,47.0,6700.0,4.9,False,False,False,1,False,False,False
396,397,42.0,70.0,1.025,0.0,0.0,1,1,0,0,...,54.0,7800.0,6.2,False,False,False,1,False,False,False
397,398,12.0,80.0,1.020,0.0,0.0,1,1,0,0,...,49.0,6600.0,5.4,False,False,False,1,False,False,False
398,399,17.0,60.0,1.025,0.0,0.0,1,1,0,0,...,51.0,7200.0,5.9,False,False,False,1,False,False,False
399,400,58.0,80.0,1.025,0.0,0.0,1,1,0,0,...,53.0,6800.0,6.1,False,False,False,1,False,False,False

In [232]:
for column in fdf:
    if fdf[column].dtype == 'float64':
        print(str(column)+" mean:\t" + str(fdf[column].mean()))
        print(str(column)+" median:\t" + str(fdf[column].median()))

age mean:	51.42817679558011
age median:	54.0
bp mean:	76.46239554317549
bp median:	80.0
sg mean:	1.017514619883041
sg median:	1.02
al mean:	1.0175438596491229
al median:	0.0
su mean:	0.44281524926686217
su median:	0.0
bgr mean:	147.1904761904762
bgr median:	121.0
bu mean:	56.251675977653626
bu median:	40.5
sc mean:	2.8998611111111106
sc median:	1.2
sod mean:	137.6208609271523
sod median:	138.0
pot mean:	4.638205980066445
pot median:	4.4
hemo mean:	12.606824925816024
hemo median:	13.0
pcv mean:	38.87461773700306
pcv median:	40.0
wbcc mean:	8406.506849315068
wbcc median:	8000.0
rbcc mean:	4.707434944237919
rbcc median:	4.8

In [238]:
y_test

333    False
140     True
259    False
288    False
118     True
       ...
231     True
137     True
280    False
250    False
387    False
Name: class, Length: 111, dtype: category
Categories (2, bool): [True, False]

In [239]:
fdf

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020,1.0,0.0,NaN,1,0,0,...,44.0,7800.0,5.2,True,True,False,1,False,False,True
1,2,7.0,50.0,1.020,4.0,0.0,NaN,1,0,0,...,38.0,6000.0,NaN,False,False,False,1,False,False,True
2,3,62.0,80.0,1.010,2.0,3.0,1,1,0,0,...,31.0,7500.0,NaN,False,True,False,0,False,True,True
3,4,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,32.0,6700.0,3.9,True,False,False,0,True,True,True
4,5,51.0,80.0,1.010,2.0,0.0,1,1,0,0,...,35.0,7300.0,4.6,False,False,False,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55.0,80.0,1.020,0.0,0.0,1,1,0,0,...,47.0,6700.0,4.9,False,False,False,1,False,False,False
396,397,42.0,70.0,1.025,0.0,0.0,1,1,0,0,...,54.0,7800.0,6.2,False,False,False,1,False,False,False
397,398,12.0,80.0,1.020,0.0,0.0,1,1,0,0,...,49.0,6600.0,5.4,False,False,False,1,False,False,False
398,399,17.0,60.0,1.025,0.0,0.0,1,1,0,0,...,51.0,7200.0,5.9,False,False,False,1,False,False,False
399,400,58.0,80.0,1.025,0.0,0.0,1,1,0,0,...,53.0,6800.0,6.1,False,False,False,1,False,False,False

In [240]:
for column in fdf:
    if fdf[column].dtype == 'float64':
        fdf[column].fillna(fdf[column].mean(), inplace=True)
x,y=fdf['rbc'].value_counts()
print(x,y)

199 46

In [241]:
fdf.columns[fdf.isna().any()]
fdf.replace(True,1,inplace=True)
fdf.replace(False,0,inplace=True)
fdf

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020,1.0,0.0,NaN,1,0,0,...,44.0,7800.0,5.200000,True,True,False,1,False,False,True
1,2,7.0,50.0,1.020,4.0,0.0,NaN,1,0,0,...,38.0,6000.0,4.707435,False,False,False,1,False,False,True
2,3,62.0,80.0,1.010,2.0,3.0,1,1,0,0,...,31.0,7500.0,4.707435,False,True,False,0,False,True,True
3,4,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,32.0,6700.0,3.900000,True,False,False,0,True,True,True
4,5,51.0,80.0,1.010,2.0,0.0,1,1,0,0,...,35.0,7300.0,4.600000,False,False,False,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55.0,80.0,1.020,0.0,0.0,1,1,0,0,...,47.0,6700.0,4.900000,False,False,False,1,False,False,False
396,397,42.0,70.0,1.025,0.0,0.0,1,1,0,0,...,54.0,7800.0,6.200000,False,False,False,1,False,False,False
397,398,12.0,80.0,1.020,0.0,0.0,1,1,0,0,...,49.0,6600.0,5.400000,False,False,False,1,False,False,False
398,399,17.0,60.0,1.025,0.0,0.0,1,1,0,0,...,51.0,7200.0,5.900000,False,False,False,1,False,False,False
399,400,58.0,80.0,1.025,0.0,0.0,1,1,0,0,...,53.0,6800.0,6.100000,False,False,False,1,False,False,False

In [242]:
for column in fdf:
    if fdf[column].dtype == 'category':
        x,y=fdf[column].value_counts()
        p = x/(x+y)
        if random.random()<p:
            val =True
        else:
            val =False
        fdf[column].fillna(val, inplace=True)

TypeError: Cannot setitem on a Categorical with a new category (True), set the categories first

In [243]:
fdf

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020,1.0,0.0,NaN,1,0,0,...,44.0,7800.0,5.200000,True,True,False,1,False,False,True
1,2,7.0,50.0,1.020,4.0,0.0,NaN,1,0,0,...,38.0,6000.0,4.707435,False,False,False,1,False,False,True
2,3,62.0,80.0,1.010,2.0,3.0,1,1,0,0,...,31.0,7500.0,4.707435,False,True,False,0,False,True,True
3,4,48.0,70.0,1.005,4.0,0.0,1,0,1,0,...,32.0,6700.0,3.900000,True,False,False,0,True,True,True
4,5,51.0,80.0,1.010,2.0,0.0,1,1,0,0,...,35.0,7300.0,4.600000,False,False,False,1,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,55.0,80.0,1.020,0.0,0.0,1,1,0,0,...,47.0,6700.0,4.900000,False,False,False,1,False,False,False
396,397,42.0,70.0,1.025,0.0,0.0,1,1,0,0,...,54.0,7800.0,6.200000,False,False,False,1,False,False,False
397,398,12.0,80.0,1.020,0.0,0.0,1,1,0,0,...,49.0,6600.0,5.400000,False,False,False,1,False,False,False
398,399,17.0,60.0,1.025,0.0,0.0,1,1,0,0,...,51.0,7200.0,5.900000,False,False,False,1,False,False,False
399,400,58.0,80.0,1.025,0.0,0.0,1,1,0,0,...,53.0,6800.0,6.100000,False,False,False,1,False,False,False

In [244]:
df = fdf.astype({
    'id': 'float64',
    'age': 'float64',
    'bp': 'float64',
    'sg': 'float64',
    'al': 'float64',
    'su': 'float64',
    'rbc': 'float64',
    'pc': 'float64',
    'pcc': 'float64',
    'ba': 'float64',
    'bgr': 'float64',
    'bu': 'float64',
    'sc': 'float64',
    'sod': 'float64',
    'pot': 'float64',
    'hemo': 'float64',
    'pcv': 'float64',
    'wbcc': 'float64',
    'rbcc': 'float64',
    'htn': 'float64',
    'dm': 'float64',
    'cad': 'float64',
    'appet': 'float64',
    'pe': 'float64',
    'ane': 'float64',
    'class': 'float64',
 
})

In [245]:
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,1.0,48.0,80.0,1.020,1.0,0.0,NaN,1.0,0.0,0.0,...,44.0,7800.0,5.200000,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,2.0,7.0,50.0,1.020,4.0,0.0,NaN,1.0,0.0,0.0,...,38.0,6000.0,4.707435,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,3.0,62.0,80.0,1.010,2.0,3.0,1.0,1.0,0.0,0.0,...,31.0,7500.0,4.707435,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,4.0,48.0,70.0,1.005,4.0,0.0,1.0,0.0,1.0,0.0,...,32.0,6700.0,3.900000,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,5.0,51.0,80.0,1.010,2.0,0.0,1.0,1.0,0.0,0.0,...,35.0,7300.0,4.600000,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396.0,55.0,80.0,1.020,0.0,0.0,1.0,1.0,0.0,0.0,...,47.0,6700.0,4.900000,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,397.0,42.0,70.0,1.025,0.0,0.0,1.0,1.0,0.0,0.0,...,54.0,7800.0,6.200000,0.0,0.0,0.0,1.0,0.0,0.0,0.0
397,398.0,12.0,80.0,1.020,0.0,0.0,1.0,1.0,0.0,0.0,...,49.0,6600.0,5.400000,0.0,0.0,0.0,1.0,0.0,0.0,0.0
398,399.0,17.0,60.0,1.025,0.0,0.0,1.0,1.0,0.0,0.0,...,51.0,7200.0,5.900000,0.0,0.0,0.0,1.0,0.0,0.0,0.0
399,400.0,58.0,80.0,1.025,0.0,0.0,1.0,1.0,0.0,0.0,...,53.0,6800.0,6.100000,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [249]:
df.fillna(1,inplace=True)
x = df.iloc[:, 1:25]
x
y=df.iloc[:,25]
x.value_counts()

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369 entries, 0 to 399
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      369 non-null    float64
 1   age     369 non-null    float64
 2   bp      369 non-null    float64
 3   sg      369 non-null    float64
 4   al      369 non-null    float64
 5   su      369 non-null    float64
 6   rbc     369 non-null    float64
 7   pc      369 non-null    float64
 8   pcc     369 non-null    float64
 9   ba      369 non-null    float64
 10  bgr     369 non-null    float64
 11  bu      369 non-null    float64
 12  sc      369 non-null    float64
 13  sod     369 non-null    float64
 14  pot     369 non-null    float64
 15  hemo    369 non-null    float64
 16  pcv     369 non-null    float64
 17  wbcc    369 non-null    float64
 18  rbcc    369 non-null    float64
 19  htn     369 non-null    float64
 20  dm      369 non-null    float64
 21  cad     369 non-null    float64
 22  appet   369 non-null    float64
 23  pe      369 non-null    float64
 24  ane     369 non-null    float64
 25  class   369 non-null    float64
dtypes: float64(26)
memory usage: 77.8 KB